body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    border: 2px solid red;
    display: flex;
    height: 100vh;
    aspect-ratio: 1;
}

.pixel {
    display: flex;
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    flex-basis: 100%;
    background-color: green;
    border: 1px solid blue;
}

/*make the pixel dimensions shrink to fit the size of the viewfinder*/