body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    border: 2px solid #ff0000;
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    margin: auto;
}

.pixel {
    background-color: green;
}

/*make the pixel dimensions shrink to fit the size of the viewfinder*/